/* line 61, D:/PROJEKTY/Brita/twister/style.scss */
.close {
  width: 65px;
  height: 65px;
  position: absolute;
  right: 0; }
  /* line 65, D:/PROJEKTY/Brita/twister/style.scss */
  .close a {
    display: block;
    width: 60px;
    height: 60px; }

/* line 67, D:/PROJEKTY/Brita/twister/style.scss */
::-webkit-scrollbar {
  width: 7px;
  /* for vertical scrollbars */
  height: 7px;
  /* for horizontal scrollbars */ }

/* line 74, D:/PROJEKTY/Brita/twister/style.scss */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

/* line 78, D:/PROJEKTY/Brita/twister/style.scss */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); }

/* line 82, D:/PROJEKTY/Brita/twister/style.scss */
.nota {
  font-family: arial;
  color: #000;
  background-color: #fff;
  font-size: 10px;
  width: 100%;
  height: 720px;
  z-index: 2;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 20px 10px 10px;
  box-sizing: border-box; }

/* line 97, D:/PROJEKTY/Brita/twister/style.scss */
.nota-btn {
  position: absolute;
  font-family: arial;
  color: #000;
  font-size: 10px;
  cursor: pointer;
  bottom: 5px;
  left: 5px; }

/* line 107, D:/PROJEKTY/Brita/twister/style.scss */
.container {
  position: relative;
  width: 480px;
  height: 720px;
  background-image: url(img/bg.jpg);
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #EEEEEE; }

/* line 121, D:/PROJEKTY/Brita/twister/style.scss */
a img {
  border: 0px; }

/* line 125, D:/PROJEKTY/Brita/twister/style.scss */
.btn {
  position: absolute;
  z-index: 1;
  transform: translate(575px, 421px);
  -webkit-transform: translate(575px, 421px);
  -moz-transform: translate(575px, 421px);
  -o-transform: translate(575px, 421px); }

/* line 132, D:/PROJEKTY/Brita/twister/style.scss */
#head {
  position: absolute;
  transition: 1s all;
  transform: translate(208px, -588px) rotate(0deg);
  -webkit-transform: translate(208px, -588px) rotate(0deg);
  -moz-transform: translate(208px, -588px) rotate(0deg);
  -o-transform: translate(208px, -588px) rotate(0deg); }
  /* line 38, D:/PROJEKTY/Brita/twister/style.scss */
  #head.active {
    transform: translate(208px, 132px);
    -webkit-transform: translate(208px, 132px);
    -moz-transform: translate(208px, 132px);
    -o-transform: translate(208px, 132px); }

/* line 139, D:/PROJEKTY/Brita/twister/style.scss */
#kwota {
  position: absolute;
  transition: 1s all;
  transform: translate(208px, -519px) rotate(0deg);
  -webkit-transform: translate(208px, -519px) rotate(0deg);
  -moz-transform: translate(208px, -519px) rotate(0deg);
  -o-transform: translate(208px, -519px) rotate(0deg); }
  /* line 38, D:/PROJEKTY/Brita/twister/style.scss */
  #kwota.active {
    transform: translate(208px, 201px);
    -webkit-transform: translate(208px, 201px);
    -moz-transform: translate(208px, 201px);
    -o-transform: translate(208px, 201px); }

/* line 146, D:/PROJEKTY/Brita/twister/style.scss */
#bulety {
  position: absolute;
  transition: 1s all;
  transform: translate(210px, 1001px) rotate(40deg);
  -webkit-transform: translate(210px, 1001px) rotate(40deg);
  -moz-transform: translate(210px, 1001px) rotate(40deg);
  -o-transform: translate(210px, 1001px) rotate(40deg); }
  /* line 38, D:/PROJEKTY/Brita/twister/style.scss */
  #bulety.active {
    transform: translate(210px, 281px);
    -webkit-transform: translate(210px, 281px);
    -moz-transform: translate(210px, 281px);
    -o-transform: translate(210px, 281px); }

/* line 158, D:/PROJEKTY/Brita/twister/style.scss */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* line 164, D:/PROJEKTY/Brita/twister/style.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

/* line 200, D:/PROJEKTY/Brita/twister/style.scss */
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

/* line 206, D:/PROJEKTY/Brita/twister/style.scss */
.bootle {
  position: absolute;
  left: 163px;
  top: 219px;
  transform: rotate(0deg);
  transition: 3s all;
  z-index: 200; }

/* line 216, D:/PROJEKTY/Brita/twister/style.scss */
.click {
  position: absolute;
  top: 366px;
  left: 178px;
  z-index: 300; }

/* line 223, D:/PROJEKTY/Brita/twister/style.scss */
.random {
  width: 480px;
  height: 481px;
  background-image: url("img/0.jpg");
  position: absolute;
  top: 184px;
  z-index: 100;
  transition: .7s all; }

/*# sourceMappingURL=style.css.map */